.menu {
  font-size: 1.2em;
  margin: 20px 7% 20px 7%;
  @include justifyBetween;
  align-items: center;
  @include devices(small-pc) {
    font-size: 1rem;
    margin: 10px 7% 10px 7%;
    text-transform: uppercase;
  }
  @include devices(mobile) {
    font-size: 0.8rem;
    @include marge-page-mobile;
  }
  ul {
    display: flex;
    flex-direction: row;
    padding: 0 0 0 0;
    @include devices(small-pc) {
      margin: 0;
    }
  }
  a {
    text-decoration: none;
    font-weight: bold;
  }
  li:nth-child(1), li:nth-child(2) {
    margin-left:30px;
    margin-right: 30px;
    @include devices(small-pc) {
      margin-left:30px;
      margin-right: 20px;
    }
  }
  
  .activeLink {
    text-decoration: underline;
  }
  .box_logo {
    // display: block;

    .header_logo {
      width: auto;
      &:after {
        @include logo;
        width: 220px;
        height: 62px;
        background-color: $bg-logoMenu;
        @include devices(small-pc) {
          width: 180px;
          height: 52px;
        }
        @include devices(mobile) {
          width: 60px;
          height: 30px;
          text-align: left;
          margin: 0;
        }
        @include devices(small-mobile) {
          display:none;
          // width: 135px;
          // height: 38px;
          // text-align: left;
          // margin: 0;
        }
      }
    }
  }
}
