.menu {
    font-size: 1.2em;
    margin: 10px 7% 0 7%;
    @include justifyBetween;
    align-items: center;
    @include devices (small-pc){  
        font-size: 0.8rem;
        margin: 15px 7% 20px 7%;
        text-transform: uppercase;
    }
    ul{
    display: flex;
    flex-direction: row;
    padding:0 0 0 0;
        @include devices (small-pc){  
            margin:0;
        }
    }
    a{
    text-decoration: none;
    font-weight: bold;
    }
    li:nth-child(1){
        margin-right: 40px;
        @include devices (small-pc){  
            margin-right: 20px;
        }
    }
    .activeLink{
    /* border-bottom : 2px solid rgba(255, 96, 96, 1); */
        text-decoration: underline;
    }
    .box_logo{
        display: block;
        @include devices (small-pc){  
        width: 160px; 
        height: auto;
        }
        .header_logo{
            &:after {
                width: 160px;
                height: 50px;
                display: block;
                content: '';
                -webkit-mask: url(./../../assets/logo.svg) no-repeat 50% 50%;
                mask: url(./../../assets/logo.svg) no-repeat 50% 50%;
                -webkit-mask-size: cover;
                mask-size: cover;
                background-color: $bg-logoMenu;
                @include devices (small-mobile){  
                    transform: scale(0.8);
                    text-align: left;
                    margin:0;
                    
                }
            }
        }
    }
}