.banner{
    position: relative;
    height: 225px;
    width: 100%;
    background-size: cover;
    border-radius: 25px;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    @include devices (mobile){  
        border-radius: 10px;
    }
    .imgBanner_filter{
        border-radius: 25px;
        position: absolute;
        top:0;
        bottom: 0;
        left: 0;
        right: 0;
        background: linear-gradient(173deg,rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 70%);
        @include devices (mobile){  
            border-radius: 10px;
        }
    }
}

