.card_logement {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    box-shadow: $box-shadow-card;
    h2 {
    color: $color-secondary;
    font-size: 1.1rem;
    margin-left: 20px;
    margin-right: 20px;
    @include devices(mobile) {
        padding-left: 20px;
    }
    }
}