.card_logement {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    position: relative;
    box-shadow: $box-shadow-light;
    transition: all 0.2s;
    &:hover{
        box-shadow: $box-shadow-hight;
        transform: translate(1px,-1px);
    }
    .card_filter{
        position: absolute;
        border-radius: 10px;
        top:0;
        bottom: 0;
        left: 0;
        right: 0;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.3) 100%);
        transition: all 0.1s;
        &:hover{
            background: none;
            filter: $filter-lux;
        }
    }
    h2 {
    color: $color-secondary;
    z-index:2;
    font-size: 1.1rem;
    margin-left: 20px;
    margin-right: 20px;
    @include devices(mobile) {
        padding-left: 20px;
    }
    }
}