.main_loader {
  display: flex;
  // justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  @include devices(mobile) {
    min-height: (100vh);
    height: 100%;
  }
}
.loader_appli {
  .main_loader {
    margin-top: 140.4px;
    min-height: 100vh;
    height: 100%;
    @include devices(small-pc) {
      margin-top: 104px;
    }
    @include devices(mobile) {
      margin-top: 88.6px;
      min-height: 100vh;
      height: 100%;
    }
  }
  .loaderWrapper{
    top:300px;
    margin-bottom:0;
  
    @include devices(mobile) {
      top:180px;
    }
  }
}
.main_loader {
  margin-top:0;
}

.loaderWrapper {
  // position: sticky;
  position:relative;
  top:300px;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
    @include devices(mobile) {
      top:180px;
    }
}
.loader {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  perspective: 800px;
}
.span_loader {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.span_loader:nth-child(1) {
  border-bottom: 6px double rgb(213, 9, 9);
  transform: rotateX(35deg) rotateY(-45deg);
  animation: rotateOne 0.8s linear infinite;
}
.span_loader:nth-child(2) {
  border-right: 6px double rgba(255, 96, 96, 1);
  transform: rotateX(50deg) rotateY(10deg);
  animation: rotateTwo 0.8s linear infinite;
}
.span_loader:nth-child(3) {
  border-top: 6px double rgb(243, 26, 26);
  transform: rotateX(35deg) rotateY(55deg);
  animation: rotateThree 0.8s linear infinite;
}

@keyframes rotateOne {
  to {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@-webkit-keyframes rotateOne {
  to {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@keyframes rotateTwo {
  to {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}

@-webkit-keyframes rotateTwo {
  to {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}

@keyframes rotateThree {
  to {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}

@-webkit-keyframes rotateThree {
  to {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}
// .box_home {
// 	.span_loader{
// 		display: none;
// 	}
// 	.loader {
// 		background-image: none;
// 	}
// }

