.logementFiche_header{
    display:flex;
    justify-content: space-between;
    margin-top:20px;
    color: rgba(255, 96, 96, 1);
    margin-bottom: 30px;
}

.boxHost{
    display: flex;
}

.logementFiche_title, .logementFiche_sstitle{
    font-weight: 500;  
}

.logementFiche_title{
    font-size: 2rem;
    margin-top:0;
    margin-bottom: 0;
}
.logementFiche_sstitle{
    font-size: 1rem;   
    margin-top: 5px;
}

.logementFiche_boxHost{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: right
}
.nameAndSurname{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logementFiche_boxHost h3 {
    text-align: right;
    margin:0;
}

.logementFiche_boxHost img{
    border-radius: 50%;
    width: 64px;
    height: 64px;
    background-color: rgba(196, 196, 196, 1);
    margin-left: 10px; 
}

.box_logementFicheTags{
    display: flex;
    color: #fff;
    margin-top: 30px;
}

.logementFiche_tags{
    background-color: rgba(255, 96, 96, 1);
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
    height: 25px;
    min-width: 115px;
    font-size: 0.8rem;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-right: 15px;
}

.icon_star{
    margin-right:3px;
    font-size: 1.6rem;
}

.star_colorred{
    color: rgba(255, 96, 96, 1);
}

.star_empty{
    color: rgba(227, 227, 227, 1);
}

@media screen and (max-width: 800px) {
    .logementFiche_title{
        font-size: 1.5rem;
    }
    .logementFiche_sstitle{
        font-size: 1rem;
    }
    .logementFiche_header{
        flex-direction: column;
    }
    .logementFiche_boxHost {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        margin-top: 15px;
    }
    
    .icon_star{
        font-size: 1.2rem;
        margin-right: 2px;
    }
}

@media screen and (max-width: 500px) {
    .logementFiche_title{
        font-size: 1.2rem;
    }
    .logementFiche_sstitle{
        font-size: 0.9rem;
    }
    .logementFiche_tags{
        font-size: 0.6rem;
        width: 84px;
        padding: 0 5px 0 5px;
    }
    .box_logementFicheTags{
        margin-top:10px;
    }
    .icon_star{
        font-size: 0.9rem;
        margin-right: 2px;
    }
}
