.logementFiche_header{
    display:flex;
    justify-content: space-between;
    margin-top:20px;
    color: rgba(255, 96, 96, 1);
    margin-bottom: 30px;
}

.boxHost{
    display: flex;
}

.logementFiche_title, .logementFiche_sstitle{
    font-weight: 500;  
}

.logementFiche_title{
    font-size: 2.2rem;
    margin-top:5px;
    margin-bottom: 0;
}
.logementFiche_sstitle{
    font-size: 1.1rem;   
    margin-top: 5px;
}

.logementFiche_boxHost{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: right;
    min-width: 200px;
}
.logementFiche_boxHost .boxHost{
    align-self: flex-end;
}
.nameAndSurname{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.logementFiche_boxHost h3 {
    text-align: right;
    margin:0;
}

.logementFiche_boxHost .host_picture{
    border-radius: 50%;
    width: 64px;
    height: 64px;
    background-color: rgba(196, 196, 196, 1);
    margin-left: 10px; 
}

.box_logementFicheTags{
    display: flex;
    color: #fff;
    margin-top: 30px;
}

.logementFiche_tags{
    background-color: rgba(255, 96, 96, 1);
    border-radius: 10px;
    padding: 0 10px 0 10px;
    height: 25px;
    min-width: 95px;
    font-size: 0.9rem;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-right: 15px;
}

.star{
    display: flex;
}

.icon_star {
    margin-left:5px;
    margin-bottom: 12px;
}

p:after {
    width: 30px;
    height: 30px;
    display: block;
    content: '';
    -webkit-mask: url(./star.svg) no-repeat 50% 50%;
    mask: url(./star.svg) no-repeat 50% 50%;
    -webkit-mask-size: cover;
    mask-size: cover;
}

.star_colorred:after{
    background-color:rgba(255, 96, 96, 1);
}

.star_empty:after{
    background-color: rgba(227, 227, 227, 1);
}

@media screen and (max-width: 800px) {
    .logementFiche_title{
        font-size: 1.5rem;
    }
    .logementFiche_sstitle{
        font-size: 1rem;
    }
    .logementFiche_header{
        flex-direction: column;
    }
    .logementFiche_boxHost {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        margin-top: 15px;
    }
    
    .icon_star{
        font-size: 1.2rem;
        margin-right: 2px;
    }
}

@media screen and (max-width: 500px) {
    .logementFiche_title{
        font-size: 1.2rem;
    }
    .logementFiche_sstitle{
        font-size: 0.9rem;
    }
    .logementFiche_tags{
        font-size: 0.6rem;
        min-width: 75px;
        height: 18px;
        padding: 0 5px 0 5px;
        text-align: center;
        margin-right: 8px;
    }
    .box_logementFicheTags{
        margin-top:10px;
       
    }
    .icon_star{
        font-size: 0.9rem;
        margin-right: 2px;
    }
}
