//font-family
$font-family: "Montserrat",'Roboto',sans-serif;

//color charte
$color-primary: rgba(255, 96, 96, 1);
$color-secondary: #fff;

//box-shadow
$box-shadow-btn: 1px 1px 2px rgba(0,0,0,0.4);
$box-shadow-card: 1px 1px 2px rgba(0,0,0,0.2);
$box-shadow-bannerImg: 1px 1px 2px rgba(0,0,0,0.2);

//background-color
$bg-btn:  #FF6060;
$bg-starColorred:  rgba(255, 96, 96, 1);
$bg-starEmpty : rgba(227, 227, 227, 1);
$bg-accordionText :rgba(246, 246, 246, 1);
$bg-boxCards: rgba(246, 246, 246, 1);
$bg-footer: rgb(0,0,0);
$bg-logoMenu : #FF6060;
$bg-logoFooter : #fff;

//filter
$filter-sombre : brightness(70%);
$filter-lux : brightness(1.1);