.box_logementFiche{
    margin-left: 7%;
    margin-right: 7%;
}

.logementFiche_header{
    display:flex;
    justify-content: space-between;
    margin-top:20px;
    color: rgba(255, 96, 96, 1);
    margin-bottom: 25px;
}

.boxHost{
    display: flex;
}

.logementFiche_title, .logementFiche_sstitle{
    font-weight: 500;

    
}
.logementFiche_title{
    font-size: 2rem;
    margin-top:0;
    margin-bottom: 0;
}
.logementFiche_sstitle{
    font-size: 1rem;   
    margin-top: 5px;
}

.logementFiche_boxHost{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: right
}

.logementFiche_boxHost h3 {
    text-align: right
}

.logementFiche_boxHost img{
    border-radius: 50%;
    width: 64px;
    height: 64px;
    background-color: rgba(196, 196, 196, 1);
    margin-left: 10px; 
}

.box_logementFicheTags{
    display: flex;
    color: #fff;
    margin-top: 25px;
}

.logementFiche_tags{
    background-color: rgba(255, 96, 96, 1);
    border-radius: 10px;
    padding: 0 10px 0 10px;
    height: 25px;
    width: 115px;
    font-size: 0.8rem;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-right: 15px;
}

.star_colorred{
    color: rgba(255, 96, 96, 1);
    font-size: 1.6rem;
}

.star_empty{
    color: rgba(227, 227, 227, 1);
    font-size: 1.6rem;
}
