.apropos_page{
    @include marge-page ; 
    .box_accordion{
        margin:0 10% 35px 10%;
        @include devices(small-pc) {
            margin: 20px 0;
        }
        @include devices (mobile){        
            max-height: 30px;
        }
        &.open{
            @include devices (mobile){
            max-height: none;
            }
        }
        &:nth-child(4){
            margin-bottom: 160px;
        }
        &:nth-child(4).open{
            margin-bottom: 10px;
        }
    }
    .div_text{
        @include devices (mobile){        
            padding: 20px 15px 25px 15px;
        } 
        &.open{
        height: auto;
        @include devices (mobile){        
            font-size: 0.8rem;
        }
        }
    }
}
