.wrapper_projet14{
  margin: 0;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  color: #0d0d0d;
  padding: 0;
  height: 100vh;
  box-sizing: border-box;
  /* background-color: #fbfbfb; */

  body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    color: #0d0d0d;
    padding: 0;
    height: 100vh;
    box-sizing: border-box;
    /* background-color: #fbfbfb; */
  }
  
  * {
    box-sizing: border-box;
  }
  
  ul,
  li {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  .sr-only {
    position: absolute !important;
    clip: rect(
      1px 1px 1px 1px
    ); /* masque le contenu, mais le rend accessible pour les lecteurs d'écran */
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
    white-space: nowrap;
  }
  
  a {
    text-decoration: none;
  }
  
  button {
    cursor: pointer;
  }
  
  .box_app {
    display: flex;
    text-align: center;
  }
  @media (max-width: 500px) {
    .box_app {
      flex-direction: column;
    }
  }
  .box_navHome {
    display: flex;
    justify-content: center;
  }
  .box_home,
  .main_newEmployee {
    text-align: center;
    margin: 0 auto;
  }
  
  @media (min-width: 500px) {
    .br {
      display: none;
    }
  }
  
  h1,
  h2 {
    font-size: 3rem;
    color: #0d0d0d;
  }
  
  @media (max-width: 1200px) {
    h1,
    h2 {
      font-size: 2rem;
    }
  }
  
  /* spinner */
  #containerSpinner {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #spinner {
    margin-top: -400px;
    margin-left: -75px;
  }
  
  .spinner {
    height: 120px;
    width: 120px;
    border: 6px solid;
    border-color: #546a03 transparent #546a03 transparent;
    border-radius: 50%;
    animation: spin 1.4s linear infinite;
  }
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
  
  .linkNewEmployee,
  .linkListEmployee {
    margin: 20px 40px 20px 40px;
    border: none;
    color: black;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    width: 320px;
    padding: 10px 20px;
    color: #fff;
    font-weight: bold;
    background-color: #677e11;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
  }
  
  .iconLink {
    display: block;
    font-size: 1.5rem;
    margin-right: 20px;
  }
  
  .textLink {
    margin: 0 auto;
  }
  
  .modal-title {
    font-size: 1.5rem;
  }
  
  @media (max-width: 800px) {
    .header_ListEmployees .linkNewEmployee,
    .header_ListEmployees .linkListEmployee {
      margin: 20px auto;
    }
  }
  @media (max-width: 500px) {
    .box_navHome .linkNewEmployee,
    .box_navHome .linkListEmployee {
      margin: 20px 0 20px 0;
    }
    .box_navHome {
      flex-direction: column;
      align-items: center;
    }
  }
  
  .linkNewEmployee:hover,
  .linkListEmployee:hover {
    background-color: #7e9b16;
    box-shadow: 1px 1px 2px rgb(0 0 0 / 20%);
  }
  
  .box_home {
    min-height: 100vh;
    background: linear-gradient(to bottom, transparent, rgb(255, 255, 255))
      rgb(214, 219, 220);
  }
  
  .box_home img {
    margin-top: 20px;
  }
  
  .main_newEmployee {
    min-height: 100vh;
    min-width: 100%;
    display: flex;
  }
  
  @media (max-width: 900px) {
    .main_newEmployee {
      flex-direction: column;
    }
  }
  
  .formChangeEmployee input ,
  .main_newEmployee input {
    padding: 10px;
    padding-left: 20px;
    border: none;
    height: 40px;
    font-size: 14px;
    border-radius: 50px;
    box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
    outline: 1px solid rgb(220, 239, 232);
  }
  
  .main_newEmployee input {
    background: #fff;
  }
  .formChangeEmployee input {
    background: linear-gradient(to bottom, transparent, rgb(255, 255, 255))
    rgb(214, 219, 220);
    margin-left:10px;
    margin-right:10px;
  }
  
  
  @media (max-width: 1000px) {
    img {
      margin: 20px auto 0;
      width: 300px;
      height: 300px;
    }
  
    .main_newEmployee header {
      width: 400px;
    }
  }
  @media (max-width: 900px) {
    img {
      margin: 20px auto 0;
      width: 100px;
      height: 100px;
    }
    .main_newEmployee {
      flex-direction: column;
    }
  
    .main_newEmployee header {
      width: 100%;
    }
  }
  
  .boxName {
    display: flex;
    justify-content: center;
  }
  
  .boxName .box_input {
    margin-bottom: 20px;
    margin-right: 10px;
    margin-left: 10px;
  }
  
  .box_formEntree {
    position: relative;
  }
  
  .boxDate {
    display: flex;
    justify-content: center;
  }
  
  .box_dateOfBirth,.box_startDate, .box_endDate  {
    margin-right: 10px;
    margin-left:10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
  .box_endDate .text_endDate,
  .box_startDate .text_startDate,
  .box_dateOfBirth .text_dateOfBirth {
    margin-right: 10px;
  }
  
  .box_endDate .css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root,
  .box_startDate .css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root,
  .box_dateOfBirth .css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
    padding-left: 20px;
    padding-top: 2px;
  }
  
  .box_endDate .css-nxo287-MuiInputBase-input-MuiOutlinedInput-input{
    height: 20px;
  }
  
  .box_endDate .MuiInputBase-formControl .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
    height: 20px;
  }
  
  .box_startDate .css-nxo287-MuiInputBase-input-MuiOutlinedInput-input,
  .box_dateOfBirth .css-nxo287-MuiInputBase-input-MuiOutlinedInput-input {
    margin: 10px;
    height: 20px;
  }
  
  .box_startDate .css-1ralhbl-MuiFormControl-root-MuiTextField-root,
  .box_dateOfBirth .css-1ralhbl-MuiFormControl-root-MuiTextField-root {
    vertical-align: middle;
  }
  
  .box_endDate .css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root,
  .box_startDate .css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root,
  .box_dateOfBirth .css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root {
    padding: 5px 5px 5px 5px;
  }
  
  .box_startDate
    .css-1ralhbl-MuiFormControl-root-MuiTextField-root
    .MuiInputBase-input,
  .box_dateOfBirth
    .css-1ralhbl-MuiFormControl-root-MuiTextField-root
    .MuiInputBase-input {
    height: 20px;
  }
  
  @media (max-width: 700px) {
    .boxDate {
      flex-direction: column;
    }
    .box_startDate {
      margin-top: 15px;
      margin-bottom: 20px;
    }
  
    .boxDate .box_startDate .text-startDate {
      margin-left: 0;
    }
  
    .box_endDate , 
    .box_dateOfBirth  {
      margin-right: 0;
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
  
  @media (max-width: 500px) {
    .box_endDate,
    .box_startDate,
    .box_dateOfBirth {
      justify-content: space-between;
    }
  
    .box_endDate,
    .box_dateOfBirth,.box_startDate  {
      margin-right: 0;
      margin-left:0;
    }
  }
  
  @media (max-width: 450px) {
    .box_input {
      justify-content: space-between;
    }
    .box_input input {
      margin-right: 0;
    }
    .boxName .box_input {
      margin-right: 0;
      margin-left: 0;
    }
  }
  
  .errorMessage {
    position: absolute;
    margin: 0 0 0 20px;
    bottom: -20px;
    left: 0;
    color: #d32f2f;
  }
  
  .errorBorder {
    border: 1px solid #d32f2f;
  }
  
  .address {
    margin: 20px auto 10px;
  }
  
  fieldset,
  select {
    border: 1px solid #57810b;
  }
  
  .box_State,
  .box_Department {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .box_State .p_label,
  .box_Department .p_label {
    display: inline-block;
    margin-right: 10px;
  }
  
  .box_State li.selectedOption:hover,
  .box_Department li.selectedOption:hover {
    background-color: #b1c46c;
  }
  
  .box_State li.selectedOption,
  .box_Department li.selectedOption {
    background-color: #b1c46c;
  }
  
  .box_State li.focused,
  .box_Department li.focused,
  .box_State .dropdownMenu li:hover,
  .box_Department .dropdownMenu li:hover {
    background-color: #cee389;
  }
  
  @media (max-width: 650px) {
    .boxName {
      display: flex;
      flex-direction: column;
    }
  }
  
  @media (max-width: 650px), (min-width: 900px) and (max-width: 1000px) {
    .address {
      display: flex;
      flex-direction: column;
    }
  
    .address {
      margin: 20px auto 20px;
    }
    #zip-code {
      margin-bottom: 20px;
    }
  
    .boxName {
      display: flex;
      justify-content: center;
    }
  
    .address label {
      margin-top: 10px;
    }
  }
  
  .box_titleModal {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .iconCheckedModal {
    display: block;
    font-size: 2.5rem;
    margin-right: 20px;
  }
  
  .modal-title {
    padding-right: 20px;
  }
  
  .confirmationModal {
    background-color: #b9d851;
    bottom: 0;
    height: 100%;
    min-height: 400px;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
  }
  
  .editEmployeeModal{
    z-index: 999;
  }
  
  .editEmployeeModal .box_titleModal ,
  .confirmationModal .box_titleModal {
  border-bottom:2px solid #0d0d0d;
  margin-top:30px;
  }
  
  .editEmployeeModal ,
  .confirmationModal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    padding: 20px 20px 20px 20px;
    position: absolute;
  }
  .confirmationModal {
    z-index: 9999;
  }
  
  .editEmployeeModal {
    background: linear-gradient(to bottom, transparent, rgb(255, 255, 255))
    rgb(214, 219, 220);
    display: flex;
    right: 50px;
    height: auto;
  }
  
  .editEmployeeModal.deleteEmployeeModal {
    box-sizing: border-box;
    border:5px solid red;
  }
  
  .editEmployeeModal .box_changeModalName,
  .editEmployeeModal .box_changeModalDate {
  display: flex;
  justify-content: center;
  }
  
  .editEmployeeModal .box_changeModalName .box_nameLeft,
  .editEmployeeModal .box_changeModalName .box_nameRight,
  .editEmployeeModal .box_changeModalDate .box_nameLeft,
  .editEmployeeModal .box_changeModalDate .box_nameRight{
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
    text-align: center;
    width:50%;
  }
  
  .box_changeEmployeeData{
    display:flex;
    flex-direction:column;
   align-items:center;
  }
  .box_nameRight{
  margin-right: 10px;
  }
  .box_nameLeft{
  margin-left: 10px;
  }
  
  .editEmployeeModal .box_changeModalName ,
  .editEmployeeModal .box_changeModalDate {
    margin-top:20px;
    width: 300px;
  }
  @media (max-width: 700px) {
    .confirmationModal {
      width: 95%;
      margin: 10px auto;
    }
  
    .editEmployeeModal {
      left:0;
      right: 0;
      width: 96%;
      margin: 20px auto;
      justify-content: space-between;
    }
    .editEmployeeModal .box_titleModal {
     margin-top: 40px;
    }
    .editEmployeeModal .box_btnsDelete{
      flex-direction: column;
    }
    .editEmployeeModal .box_btnsDelete button{
      margin-top:20px;
    }
    .editEmployeeModal .address input{
      margin-top:8px;
    }
    .editEmployeeModal #modal-TitleChange{
      font-size: 1.4rem;
    }
  }
  
  .confirmationModal h2 {
    font-size: 2.5rem;
  }
  
  .confirmationModal p {
    font-size: 2rem;
  }
  
  @media (max-width: 900px) {
    .confirmationModal {
      bottom: inherit;
      height: auto;
    }
    .confirmationModal h2 {
      font-size: 2rem;
    }
    .confirmationModal p {
      font-size: 1.6rem;
    }
  }
  
  .btn_closeModal {
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: #677e11;
    border: none;
    color: #fff;
    border-radius: 50px;
    width: 50px;
    height: 50px;
  }
  
  .btn_closeModal_icon {
    width: 30px;
    height: 30px;
  }
  
  @media (max-width: 1200px) {
    a {
      font-size: 1.2rem;
    }
  }
  
  @media (max-width: 550px) {
    a {
      font-size: 1.2rem;
    }
  }
  
  .containerNewEmployee {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  .containerNewEmployee h1 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 2.4rem;
    color: #3f3f3f;
  }
  .main_ListEmployees h1 {
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 2.4rem;
    color: #2d2d2d;
    text-align: center;
  }
  .containerNewEmployee select {
    background-color: #fbfbfb;
    text-align: center;
  }
  
  .containerNewEmployee input {
    background-color: #fbfbfb;
  }
  
  .titleService {
    font-size: 2rem;
    font-weight: bold;
    margin: 10px 0;
  }
  
  .header_ListEmployees {
    background: linear-gradient(to bottom, transparent, rgb(226, 229, 229))
      rgb(214, 219, 220);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .box_logoService {
    display: flex;
    width: 350px;
  }
  @media (max-width: 1000px) {
    .box_logoService {
      display: flex;
      width: 150px;
      justify-content: center;
      align-items: center;
    }
  }
  .header_ListEmployees img {
    height: 70px;
    margin-left: 20px;
  }
  
  #create-employee {
    padding: 0 20px 20px 20px;
  }
  
  #create-employee input {
    margin: 10px;
  }
  
  #create-employee .boxName input {
    margin-bottom: 2px;
  }
  
  #create-employee select {
    margin: 20px 10px 10px;
  }
  
  #create-employee select {
    height: 30px;
  }
  
  .containerNewEmployee .btnFormSave {
    margin: 20px auto 30px;
  }
  
  .btnFormEdit {
    margin-bottom:20px;
  }
  
  .box_btnsDelete{
    display: flex;
    margin: 20px auto;
  }
  
  .btnFormSave, .btnFormArchive, .btnFormEdit {
    padding: 10px 20px;
    width: 300px;
  }
  .btnFormDelete,.btnFormCancel {
    padding: 10px 10px;
    width: 180px;
    margin: 5px 20px;
  }
  
  .btnFormSave,.btnFormDelete,.btnFormCancel, .btnFormArchive, .btnFormEdit{
    text-align: center;
    color: #fff;
    border-radius: 25px;
    border: none;
    font-size: 1.2rem;
    background-color: #677e11;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  }
  
  .btnFormArchive {
    margin: 30px auto 20px;
  }
  
  .btnFormSave:hover, .btnFormDelete:hover,.btnFormCancel:hover, .btnFormArchive:hover, .btnFormEdit:hover, .btn_closeModal:hover {
    background-color: #7e9b16;
    box-shadow: 1px 1px 2px rgb(0 0 0 / 20%);
  }
  
  input::placeholder {
    color: gray;
  }
  
  .title_newEmployee {
    font-size: 2rem;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .box_StartDate .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input,
  .box_dateOfBirth .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
    margin: 10px;
    padding: 10px;
    height: 20px;
  }
  
  .logoHome {
    width: 330px;
    height: 300px;
  }
  
  @media (max-width: 800px) {
    .header_ListEmployees {
      flex-direction: column;
    }
  }
  
  .main_ListEmployees .box_searchGlobal input {
    height: 45px;
  }
  
  .main_ListEmployees {
    padding-bottom: 30px;
  }
  
  .MuiInputBase-input .MuiOutlinedInput-input .css-1x5jdmq {
    margin: 10px;
  }
  
  .editEmployeeModal .box_State .dropdown ,
  .main_newEmployee .box_State .dropdown {
    z-index: 10;
  }
  
  .editEmployeeModal .dropdown ,
  .main_newEmployee .dropdown {
    position: relative;
    display: inline-block;
    /* z-index: 999; */
    background-color: #f6f8f2;
  }
  
  .main_ListEmployees .btn_Reset {
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
  }
  /* styles pour le bouton de déclenchement du dropdown */
  .editEmployeeModal .dropdownToggle ,
  .main_newEmployee .dropdownToggle {
    border: 1px solid #adca76;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
  }
  
  .main_newEmployee .dropdownToggle {
    background-color: #fbfbfb;
  }
  /* .editEmployeeModal .dropdownToggle {
    background: linear-gradient(to bottom, transparent, rgb(255, 255, 255)) rgb(228, 230, 230);
  } */
  
  .editEmployeeModal .dropdownToggle {
    padding: 4px 12px;
    height: 35px;
  }
  .main_newEmployee .dropdownToggle {
    padding: 8px 12px;
  }
  
  .main_newEmployee .address .dropdownToggle {
    background-color: #f1f1f1;
  }
  
  .editEmployeeModal .address .dropdownToggle{
    /* background: linear-gradient(to bottom, transparent, rgb(255, 255, 255)) rgb(214, 219, 220); */
    background-color: #e0dddd;
  }
  
  /* styles pour la flèche du dropdown */
  .main_newEmployee .arrow {
    margin-left: 8px;
  }
  
  /* styles pour le menu déroulant */
  .editEmployeeModal .dropdownMenu ,
  .main_newEmployee .dropdownMenu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #fbfbfb;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  /* styles pour les options du menu déroulant */
  .editEmployeeModal .dropdownOption ,
  .main_newEmployee .dropdownOption {
    cursor: pointer;
  }
  
  .main_newEmployee .dropdownOption:hover, .editEmployeeModal .dropdownOption:hover{
    background-color: #f2f2f2;
  }
  
  /* styles pour l'option sélectionnée */
  /* .editEmployeeModal .selected , */
  .main_newEmployee .selected {
    background-color: #b1c46c;
    color: #fff;
  }
  
  .main_newEmployee .address {
    background: linear-gradient(to bottom, transparent, rgb(241, 241, 241))
      rgb(235, 235, 235);
  }
  
  .box_table .btn_Reset {
    box-shadow: 1px 2px 6px rgb(0 0 0 / 40%);
  }
  
  .editEmployeeModal .dropdownOptionButton ,
  .main_newEmployee .dropdownOptionButton {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    padding: 8px 12px;
  }
  
  /* change Employee data */
  .bg_modalConfirm {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(5, 5, 5, 0.6);
  
  }
  
  .main_newEmployee .bg_modalConfirm{
    z-index: 9999;
  }
  
  .box_table .bg_modalConfirm {
    z-index: 998;
  }
  .editEmployeeModal .address {
    /* background-color: #b9d851; */
    background-color: #e0dddd;
    padding-bottom: 20px;
  }
  
  .editEmployeeModal .formChangeEmployee{
    text-align: center;
  }
  
  .editEmployeeModal h2 {
    font-size: 1.6rem;
  }
  
  .editEmployeeModal p {
    font-size: 1.1rem;
  }
  .editEmployeeModal div {
    font-size: 1.1rem;
  }
  .editEmployeeModal .errorMessage {
    font-size: 0.9rem;
  }
  
  .editEmployeeModal .name{
    font-weight: bold;
  }
  
  .box_changeModalName p{
    margin-left: 6px;
    margin-right: 6px;
  }
  
  .box_changeModalName .box_input{
    padding-bottom:60px;
  }
  
  @media (max-width: 900px) {
    .confirmationModal {
      bottom: inherit;
      height: auto;
    }
    .confirmationModal h2 {
      font-size: 2rem;
    }
    .confirmationModal p {
      font-size: 1.6rem;
    }
  }
  
}

.link_CV14{
  z-index:10;
  padding:10px 10px 10px 10px;
  border: 2px solid #b6604f;
  border-radius: 20px;
  display: block;
  align-self: center;
  width: 150px;
  color:#fff;
  background: linear-gradient(to left,rgba(228, 41, 3, 1) 0%,rgba(214, 47, 13, 1) 100%);
  box-shadow: 2px 2px 6px rgba(0,0,0,0.8);
  text-decoration: none;
  text-align: center;
  margin: 0 auto 20px;
}

@media (max-width: 550px) {
  .link_CV14 {
    font-size: 0.7rem;
    padding:8px 8px 8px 8px;
    margin: 0 auto 10px;
  }
}

.link_CV14:hover{
  background: linear-gradient(to left,rgba(182, 35, 5, 1) 0%,rgba(159, 36, 11, 1) 100%);
  transform: translatey(1px); 
}

.link_CV14 span {
  padding: 8px 10px 10px 8px;
  display: block;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.6);
  font-weight: 800;
  font-size: 1.4rem;
} 

@media (max-width: 550px) {
  .link_CV11 span {
  font-size: 0.8rem;
  }
}