.banner_apropos{
    position: relative;
}

.apropos{
    margin-left: 7%;
    margin-right: 7%; 
}
.banner_apropos .img_apropos{
    filter : brightness(70%);
    height: 225px;
    width: 100%;
    border-radius: 25px;
    object-fit: cover;
    margin-bottom: 20px;
}

.apropos button{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem ;
    background-color:  #FF6060;
    color: #fff;
    height: 47px;
    border: none;
    border-radius: 5px;
    padding: 0 15px 0 15px;
}
.apropos .box{
    margin-left: 11%;
    margin-right: 11%;   
    margin-bottom:20px; 
}

.apropos .box .div_text{
    padding-top:20px;
    padding-left:15px;
    padding-right:15px;
    padding-bottom: 15px;
    color: rgba(255, 96, 96, 1);  
    background-color: rgba(246, 246, 246, 1);
}

.box_fiabilite .div_text{
    display: none;
}

.box_fiabilite .div_text.isOpen{
    display: flex;
}

.box_fiabilite .iconDown{
    display:flex;
}

.box_fiabilite .iconDown.isOpen{
    display:none;
}

.box_fiabilite .iconUp{
    display:none;
}

.box_fiabilite .iconUp.isOpen{
    display:flex;
    color: #fff;
}
.box_respect .div_text{
    display: none;
}

.box_respect .div_text.isOpen{
    display: flex;
}

.box_respect .iconDown{
    display:flex;
}

.box_respect .iconDown.isOpen{
    display:none;
}

.box_respect .iconUp{
    display:none;
}

.box_respect .iconUp.isOpen{
    display:flex;
    color: #fff;
}

.box_service .div_text{
    display: none;
}

.box_service .div_text.isOpen{
    display: flex;
}

.box_service .div_text.isOpen{
    display: flex;
    opacity:1;
}

.box_service .iconDown{
    display:flex;
}

.box_service .iconDown.isOpen{
    display:none;
}

.box_service .iconUp{
    display:none;
}

.box_service .iconUp.isOpen{
    display:flex;
    color: #fff;
}

.box_securite .div_text{
    display: none;
}

.box_securite .div_text.isOpen{
    display: flex;
}

.box_securite .div_text.isOpen{
    display: flex;
    opacity:1;
}

.box_securite .iconDown{
    display:flex;
}

.box_securite .iconDown.isOpen{
    display:none;
}

.box_securite .iconUp{
    display:none;
}

.box_securite .iconUp.isOpen{
    display:flex;
    color: #fff;
}

