.banner{
    position: relative;
    /* margin-left: 7%;
    margin-right: 7%;  */
    margin-bottom: 30px;
}

.img_banner{
    filter : brightness(70%);
    height: 225px;
    width: 100%;
    border-radius: 25px;
    object-fit: cover;
}

.titre_banner{
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}