.boxcards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px 3% 20px 3%;
    border-radius: 25px;
    background: #F7F7F7;
}

.link_logement {
    text-decoration: none;
    text-decoration-line: none;
}
.boxcards a{
    width: 31%;
    height: 340px;
    margin-bottom: 20px;
   
}

.card_logement {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
} 

.logement_title {
    color: rgba(255, 255, 255, 1);
    padding-left: 20px;
    font-size: 1.1rem;
    padding-bottom:10px;
}