.menu {
    font-size: 1.2em;
    /* padding-left: 40px;
    padding-right: 80px; */
    margin-top: 20px;
    display : flex;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
}

ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

a{
    text-decoration: none;
    color: rgba(255, 96, 96, 1);
    padding : 24px;
    font-weight: bold;
}

.activeLink{
    /* border-bottom : 2px solid rgba(255, 96, 96, 1); */
    text-decoration: underline;
}

