.LogementFiche_boxArticles{
    display: flex;
    justify-content: space-between;
}

.boxArticle{
    width: 97%;
    margin:0;
}

.LogementFiche_boxArticles .box_accordion{
    margin:0;
    width: 48%;
}

.LogementFiche_boxArticles .div_text{
    min-height: 70px;
}

.LogementFiche_boxArticles .div_text.open{
    min-height: 160px;
    height: auto;
    font-size: 1.2rem;
}

.LogementFiche_boxArticles ul{
   margin: 0;
   padding: 0;
}

.LogementFiche_boxArticles li{
    line-height: 25px;
}

@media screen and (max-width: 900px) {
    .LogementFiche_boxArticles{
        display: flex;
        flex-direction: column;
    }

    .LogementFiche_boxArticles  .div_text{
        min-height: 0;
    }
    
    .LogementFiche_boxArticles .box_accordion{
        margin:0;
        width: 100%;
        margin-bottom: 40px;
    }

    .LogementFiche_boxArticles .div_text.open{
        height: auto;
        min-height: 0;
        font-size: 1rem;
        padding-bottom:40px;
        transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
    }
}

@media screen and (max-width: 500px) {
    .LogementFiche_boxArticles .div_text{
        font-size: 0.8rem;
    }

    .LogementFiche_boxArticles .box_accordion{
        margin-bottom: 20px;
    }
}