.erreur404 {
    text-align: center;
    margin: 10%
  }
  
  .erreur404 .erreur_small{
  display: none;
  }

  .erreur404 h1 {
    margin: 3rem 0 4rem 0;
    font-size: 18rem;
    font-weight: 700;
  }
  
  .erreur404 h2 {
    font-size: 2.2rem;
  }
  
  .erreur404_link {
    display: inline-block;
    margin: 7rem 0;
    font-size: 1.2rem;
    text-decoration: underline;
  }
  
  @media screen and (max-width: 800px) {
    .erreur404 {
      margin: 10%
    }

    .erreur404 .erreur_small{
      display: flex;
    }
    
    .erreur404 h1 {
      margin: 8rem 0 1rem 0;
      font-size: 10rem;
    }
  
    .erreur404 h2 {
      font-size: 1.5rem;
    }
  
    .erreur404_link {
      margin: 4rem 0;
      font-size: 1.2rem;
    }
  }
  
  @media screen and (max-width: 500px) {
    .erreur404 h1 {
      margin: 8rem 0 1rem 0;
      font-size: 6rem;
    }
  
    .erreur404 h2 {
      font-size: 1.1rem;
    }
  
    .erreur404_link {
      margin: 4rem 0;
      font-size: 1rem;
    }
  }
  