body {
  margin: 0;
  font-family: $font-family;
  font-weight: 500;
  color: $color-primary;
}

a,
button {
  cursor: pointer;
  color: $color-primary;
}

ul {
  list-style: none;
}

//marge
.box_logementFiche {
  @include marge-page;
  @include devices(mobile) {
    @include marge-page-mobile;
  }
}

.box_home {
  @include marge-page;
  @include devices(small-pc) {
    padding-bottom: 10px;
  }
  @include devices(mobile) {
    @include marge-page-mobile;
  }
}

.apropos_page {
  @include marge-page;
}

.btn_collapse:active,
.slideShow button:active,
.btn_collapse:focus:not(.focus-visible),
.slideShow button:focus:not(.focus-visible) {
  outline: none !important;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
}

.menu{
 
    #link_CV11{
      z-index:10;
      padding:10px 10px 10px 10px;
      border: 2px solid #b6604f;
      border-radius: 20px;
      display: block;
      margin:15px 0 10px;
      align-self: center;
      color:#fff;
      background: linear-gradient(to left,rgba(228, 41, 3, 1) 0%,rgba(214, 47, 13, 1) 100%);
      box-shadow: 2px 2px 6px rgba(0,0,0,0.8);
      text-decoration: none;
      text-align: center;
      @include devices(mobile){
        font-size: 0.7rem;
      margin-right: auto;
        padding:8px 8px 8px 8px;
      }
    }
    
    #link_CV11:hover{
      background: linear-gradient(to left,rgba(182, 35, 5, 1) 0%,rgba(159, 36, 11, 1) 100%);
      transform: translatey(1px); 
    }

    #link_CV11 span {
      padding: 8px 10px 10px 8px;
      display: block;
      box-shadow: 2px 2px 2px rgba(0,0,0,0.6);
      font-weight: 800;
      font-size: 1.4rem;
      @include devices(mobile){
        font-size: 0.8rem;
      }
    } 
  
}