.bannerHome{
    position: relative;
    margin-bottom: 30px;
    text-align: center;
  padding-right: 15px;
}

.img_banner{
    filter : brightness(70%);
    height: 225px;
    width: 100%;
    border-radius: 25px;
    object-fit: cover;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.2); 
}

.titre_banner{
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 35%;
    transform: translate(0, -50%); 
    font-size: 3rem;
    width: 100%;
    font-weight: 500;
}
.small_banner{
    display: none;
}

@media screen and (max-width: 1200px) {
    .titre_banner{
        font-size: 2rem;
        top: 40%;
    }
}

@media screen and (max-width: 800px) {
    .img_banner{
        height: 160px;
        border-radius: 10px;
    }

    .titre_banner{
        font-size: 1.8rem;
        font-weight: 500;
        width: 80%;
        text-align: center;
    }
}
@media screen and (max-width: 680px) {
    .titre_banner{
        width: 80%;
        text-align: left;
        left: 10%;
        font-size: 1.4rem;
    }
}
@media screen and (max-width: 530px) {
    .img_banner{
        height: 111px;
    }

    .small_banner{
        display: flex;
    }
    .titre_banner{
        font-weight: 500;
        text-align: left;
        left:10%;
        top:35%;
        width: 80%;
    }
}